version: '3.8'

services:
  server:
    build:
      context: ./Scrapr-server
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    networks:
      - scrapr-network
    depends_on:
      - db
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_DB=${PG_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data  
    networks:
      - scrapr-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} || exit 1"]
      interval: 5s
      timeout: 15s
      retries: 3
      start_period: 20s

volumes:
  pgdata:

networks:
  scrapr-network:
    driver: bridge
